<section id="letstalk" class="mt-4 p-6 md:p-12 rounded-xl">
  <h2 class="text-5xl md:text-9xl font-bold text-secondary-white flex items-center justify-center mb-4 px-4 py-2">
    <span class="text-center">Let<span class="text-bungee-shade ml-2">'</span>s Talk</span>
    <span class="text-bungee-shade ml-2">.</span>
  </h2>

  <div class="flex flex-wrap gap-6 justify-center">
    <ul class="gap-4 grid grid-cols-1 md:grid-cols-2 w-full">
      @for (social of socials; track $index) {
      <li class="flex flex-col w-full">
        <a [href]="social.socialLink" target="_blank"
          class="focus:ring-4 focus:ring-bungee-shade rounded-lg transition">
          <div
            class="flex items-center gap-2 justify-center w-full py-3 font-semibold text-white bg-secondary-black rounded-lg shadow-md transition-all duration-300 ease-in-out hover:bg-tertiary-black hover:shadow-lg">
            <img [src]="social.socialIcon" [alt]="social.socialName + 'Icon'"
              class="h-5 w-5 ml-1 transition-transform duration-200">
            {{social.socialName}}
          </div>
        </a>
      </li>
      }
    </ul>
  </div>
</section>