<section id="letstalk" class="mt-4 bg-bungee-shade p-12 rounded-xl">
  <h2 class="text-9xl font-bold text-[#222] flex items-center justify-center mb-4 px-4 py-2">
    <span class="text-center">Let<span class="text-white ml-2">'</span>s Talk</span>
    <span class="text-white ml-2">.</span>
  </h2>

  <div class="flex flex-wrap gap-6 justify-center">
    <ul class="gap-4 grid grid-cols-1 md:grid-cols-2 w-full">
      <li class="flex flex-col">
        <a href="https://github.com/llatzer-dev" target="_blank"
          class="focus:ring-4 focus:ring-bungee-shade rounded-lg transition" aria-label="GitHub Profile">
          <div
            class="flex items-center gap-2 justify-center w-full py-3 font-semibold text-white bg-[#222] rounded-lg shadow-md transition-all duration-300 ease-in-out hover:bg-opacity-80 hover:shadow-lg">
            <img src="github-lucide.svg" alt="GitHub Icon" class="h-5 w-5 ml-1 transition-transform duration-200">
            GitHub
          </div>
        </a>
      </li>

      <li class="flex flex-col">
        <a href="https://www.linkedin.com/in/lazaro-ortega/" target="_blank"
          class="focus:ring-4 focus:ring-bungee-shade rounded-lg transition" aria-label="LinkedIn Profile">
          <div
            class="flex items-center gap-2 justify-center w-full py-3 font-semibold text-white bg-[#222] rounded-lg shadow-md transition-all duration-300 ease-in-out hover:bg-opacity-80 hover:shadow-lg">
            <img src="linkedin-lucide.svg" alt="LinkedIn Icon" class="h-5 w-5 ml-1 transition-transform duration-200">
            LinkedIn
          </div>
        </a>
      </li>

      <li class="flex flex-col">
        <a href="mailto:lazaro.ortega.boix@gmail.com" class="focus:ring-4 focus:ring-bungee-shade rounded-lg transition"
          aria-label="Send Email">
          <div
            class="flex items-center gap-2 justify-center w-full py-3 font-semibold text-white bg-[#222] rounded-lg shadow-md transition-all duration-300 ease-in-out hover:bg-opacity-80 hover:shadow-lg">
            <img src="mail-lucide.svg" alt="Email Icon" class="h-5 w-5 ml-1 transition-transform duration-200">
            Email
          </div>
        </a>
      </li>

      <li class="flex flex-col">
        <a href="https://x.com/llatzerdev" target="_blank"
          class="focus:ring-4 focus:ring-bungee-shade rounded-lg transition" aria-label="Twitter Profile">
          <div
            class="flex items-center gap-2 justify-center w-full py-3 font-semibold text-white bg-[#222] rounded-lg shadow-md transition-all duration-300 ease-in-out hover:bg-opacity-80 hover:shadow-lg">
            <img src="twitter-lucide.svg" alt="Twitter Icon" class="h-5 w-5 ml-1 transition-transform duration-200">
            Twitter
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>