<section id="hero" role="banner"
  class="flex flex-col md:flex-row items-center justify-center mt-8 p-6 md:p-12 rounded-xl">
  <img src="Logo-Llatzer.webp" alt="Logo of Lazaro Ortega, full-stack developer"
    class="aspect-square w-1/2 md:w-1/4 rounded-full mr-0 md:mr-8 mb-4 md:mb-0">
  <div class="text-center md:text-left">
    <h1 class="text-4xl md:text-5xl mb-5 font-bold text-primary-white">FullStack Developer</h1>
    <h2 class="text-xl md:text-2xl mb-2 text-secondary-white font-semibold">+2 years of experience.</h2>
    <h3 class="text-lg md:text-lg text-secondary-white w-full md:w-96">
      Specialized in <strong>Angular</strong> and <strong>Java</strong>, from
      Alicante, Spain ES.
      <a href="#more-info" role="button" class="items-center inline-flex text-primary-white rounded-lg group relative"
        aria-label="Learn more about Lazaro Ortega">
        More about me
        <img src="lucide/arrow-up-right-lucide.svg" alt="More about me Icon"
          class="h-6 w-6 opacity-40 transition duration-200 transform group-hover:opacity-100 group-hover:translate-x-1">
        <span
          class="absolute bottom-0 left-0 w-full border-b border-dashed border-primatext-primary-white opacity-0 group-hover:opacity-100 transition duration-300"></span>
      </a>
    </h3>
    <div class="mt-6 flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
      <a href="https://www.linkedin.com/in/lazaro-ortega/" target="_blank"
        class="inline-flex items-center justify-center px-4 py-2 bg-bungee-shade text-secondary-black font-bold rounded-lg transition-transform duration-300 hover:scale-105"
        aria-label="Contact Lazaro Ortega on LinkedIn">
        <img src="lucide/black/linkedin-lucide.svg" alt="LinkedIn Icon" class="h-5 w-5 mr-2">
        LinkedIn
      </a>
      <a href="CV_Lazaro_Ortega_Boix.pdf" download
        class="inline-flex items-center justify-center px-4 py-2 bg-secondary-black text-primary-white rounded-lg transition-transform duration-300 hover:scale-105"
        aria-label="Download curriculum vitae">
        <img src="lucide/file-user-lucide.svg" alt="Curriculum Icon" class="h-5 w-5 mr-2">
        Curriculum
      </a>
    </div>
  </div>
</section>