<section id="hero" role="banner" class="flex items-center justify-center mt-8 bg-bungee-shade p-12 rounded-xl">
  <img src="Logo-Llatzer.webp" alt="Logo of Lazaro Ortega, full-stack developer"
    class="aspect-square w-1/4 rounded-full mr-8">
  <div>
    <h1 class="text-5xl mb-5 font-bold text-[#222]">FullStack Developer</h1>
    <h2 class="text-2xl mb-2 text-gray-700">+2 years of experience.</h2>
    <h3 class="text-xl text-gray-600 w-96">
      Specialized in <span class="font-semibold">Angular</span> and <span class="font-semibold">Java</span>, from
      Alicante, Spain ES.
      <a href="#more-info" role="button" class="items-center inline-flex text-white rounded-lg group relative"
        aria-label="Learn more about Lazaro Ortega">
        More about me
        <img src="arrow-up-right-lucide.svg" alt="Arrow Icon"
          class="h-6 w-6 opacity-40 transition duration-200 transform group-hover:opacity-100 group-hover:translate-x-1">
        <span
          class="absolute bottom-0 left-0 w-full border-b border-dashed border-white opacity-0 group-hover:opacity-100 transition duration-300"></span>
      </a>

    </h3>
    <div class="mt-6 flex space-x-4">
      <a href="mailto:lazaro.ortega.boix@gmail.com"
        class="inline-flex items-center px-4 py-2 bg-blue-500 text-white rounded-lg transition-transform duration-300 hover:scale-105"
        aria-label="Send an email to Lazaro Ortega">
        <img src="mail-lucide.svg" alt="Email Icon" class="h-5 w-5 mr-1">
        Contact Me
      </a>
      <a href="CV_Lazaro_Ortega_Boix.pdf" download
        class="inline-flex items-center px-4 py-2 bg-green-500 text-white rounded-lg transition-transform duration-300 hover:scale-105"
        aria-label="Download curriculum vitae">
        <img src="file-user-lucide.svg" alt="Curriculum Icon" class="h-5 w-5 mr-1">
        Curriculum
      </a>
    </div>
  </div>
</section>