.scroller {
  max-width: 600px;
}

.scroller__inner {
  padding-block: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated='true'] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated='true'] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction='right'] {
  --_animation-direction: reverse;
}

.scroller[data-direction='left'] {
  --_animation-direction: forwards;
}

.scroller[data-speed='fast'] {
  --_animation-duration: 20s;
}

.scroller[data-speed='medium'] {
  --_animation-duration: 40s;
}

.scroller[data-speed='slow'] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.tag-list li:hover {
  border-color: white;
  box-shadow: 0 0 5px white;
}

.tag-list-light li:hover {
  border-color: black;
  box-shadow: 0 0 5px black;
}

.dark-scroll {
  scrollbar-gutter: stable both-edges;
  overflow-y: auto;
}

/* Style for the scrollbar */
.dark-scroll::-webkit-scrollbar {
  width: 10px;
}

/* Thumb invisible by default */
.dark-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

/* Transition applied when scrolling */
.dark-scroll.scrolling::-webkit-scrollbar-thumb {
  background-color: #555;
}
