<section id="knowmore" role="region" class="mt-4 p-6 md:p-12 rounded-xl text-center">
  <h2
    class="text-3xl md:text-4xl font-bold mb-4 inline-flex items-center justify-center px-4 py-2 text-secondary-white">
    <img src="lucide/bungee-shade/library-lucide.svg" alt="Books Icon" class="w-6 h-6 mr-2">
    Know More
    <span class="text-bungee-shade ml-2">.</span>
  </h2>

  <article class="text-left mb-6 border border-tertiary-black rounded-xl p-4 md:p-6">
    <h3 class="text-secondary-white text-xl md:text-2xl font-bold flex items-center mb-4">
      <img src="lucide/bungee-shade/briefcase-lucide.svg" alt="Career Icon" class="h-5 w-5 mr-2">
      Career
    </h3>

    @for (career of careers; track $index) {
    <div
      class="flex items-center justify-between px-4 py-2 mb-2 rounded-xl hover:bg-secondary-white hover:bg-opacity-15 transition duration-300 group">
      <div class="flex flex-col">
        <div
          class="text-sm md:text-lg text-primary-white font-bold transition-transform duration-200 transform group-hover:translate-x-1">
          {{career.position}}
        </div>
        <div
          class="text-sm md:text-lg text-secondary-white font-bold transition-transform duration-200 transform group-hover:translate-x-1">
          {{career.company}}
        </div>
      </div>
      <div class="flex-grow mx-4 border-b border-secondary-white hidden md:block"></div>
      <div class="flex flex-col text-right">
        <div class="text-sm md:text-lg text-primary-white font-semibold">{{career.location}}</div>
        <div class="text-sm md:text-lg text-secondary-white font-semibold ">{{career.time}}</div>
      </div>
    </div>
    }

    <a routerLink="/career"
      class="flex items-center justify-center w-full py-2 mt-4 font-semibold rounded-lg text-primary-white bg-secondary-black hover:bg-tertiary-black transition-colors duration-300 ease-in-out group">
      See full work experience
      <img src="lucide/arrow-right-lucide.svg" alt="Arrow Right Icon"
        class="h-5 w-5 ml-1 transition-transform duration-200 transform group-hover:translate-x-1 group-hover:ml-1.5">
    </a>
  </article>

  <div class="flex flex-col md:flex-row mb-4 gap-2 overflow-hidden h-auto">
    <article class="text-left border border-tertiary-black rounded-xl p-4 md:p-6 mb-4 md:w-1/2 w-full">
      <h3 class="text-secondary-white text-xl md:text-2xl font-bold flex items-center mb-4">
        <img src="lucide/bungee-shade/dumbbell-lucide.svg" alt="Skills Icon" class="h-5 w-5 mr-2">
        Skills
      </h3>

      @for (skillCategory of skillsCategories; track $index) {
      <div class="scroller" [attr.data-direction]="skillCategory.direction" [attr.data-speed]="skillCategory.speed">
        <ul class="tag-list scroller__inner">
          @for (skill of skillCategory.skills; track $index) {
          <li class="px-3 py-1 border text-primary-white border-tertiary-black rounded-2xl transition duration-300">
            {{skill.skillName}}
          </li>
          }
        </ul>
      </div>
      }
    </article>

    <article class="p-4 md:p-6 border border-tertiary-black rounded-lg mb-4 md:w-1/2 w-full h-68">
      <h3 class="text-secondary-white text-xl md:text-2xl font-bold flex items-center mb-6">
        <img src="lucide/bungee-shade/layers-lucide.svg" alt="Stack Icon" class="h-5 w-5 mr-2">
        Stack
      </h3>

      <div class="dark-scroll overflow-y-auto h-[calc(100%-3rem)]">
        @for (stack of stacks; track $index) {
        @if (stack.show) {
        <section class="flex items-center md:border md:border-tertiary-black rounded-xl p-2 mb-2">
          <img [src]="stack.image" [alt]="stack.name + ' Icon'" class="h-full w-12 mr-4 max-h-12">
          <div class="text-left">
            <h3 class="text-lg font-semibold flex items-center text-primary-white">{{stack.name}}</h3>
            <p class="text-sm font-semibold text-secondary-white">{{stack.stackCategory}}</p>
          </div>
        </section>
        }
        }
      </div>
    </article>
  </div>
</section>