<section class="mx-auto mt-6 min-h-screen max-w-3xl px-4 text-primary-white">
  <p class="text-lg text-secondary-white">Home / Blog</p>

  <a
    class="mb-6 flex items-center py-2 text-left text-xl font-bold text-primary-black dark:text-primary-white"
    href="/">
    @if (darkMode$()) {
      <img
        src="lucide/arrow-left-lucide.svg"
        alt="Arrow Left Icon"
        class="mr-2 h-5 w-5" />
    } @else {
      <img
        src="lucide/black/arrow-left-lucide.svg"
        alt="Arrow Left Icon"
        class="mr-2 h-5 w-5" />
    }
    Go Home
  </a>

  <div class="mb-9 flex items-center">
    @if (darkMode$()) {
      <img
        src="lucide/bungee-shade/notepad-text-lucide.svg"
        alt="Map Icon"
        class="mr-4 h-8 w-8" />
    } @else {
      <img
        src="lucide/teja/notepad-text-lucide.svg"
        alt="Map Icon"
        class="mr-4 h-8 w-8" />
    }
    <h1 class="text-4xl font-bold text-teja dark:text-bungee-shade">Blog</h1>
  </div>

  <ul class="grid grid-cols-1 gap-4 md:grid-cols-2">
    @for (blog of blogs; track $index) {
      <li class="flex w-full flex-col">
        <a href="{{ blog.link }}" target="_blank">
          <div
            class="flex flex-col gap-2 rounded-xl border border-secondary-white bg-primary-white px-4 py-4 transition-shadow duration-300 ease-in-out hover:shadow dark:border-tertiary-black dark:bg-transparent">
            <span class="text-lg text-primary-black dark:text-primary-white"
              ><strong>{{ blog.name }}</strong></span
            >
            <span
              class="mb-2 text-sm text-primary-black opacity-50 dark:text-primary-white"
              >{{ blog.date }}</span
            >
            <span
              class="text-primary-black opacity-70 dark:text-primary-white"
              >{{ blog.resume }}</span
            >
            <div class="flex w-full flex-wrap items-center gap-2">
              @for (tag of blog.tags; track $index) {
                <span
                  class="rounded-md bg-secondary-white px-2 py-1 text-sm text-primary-white dark:bg-tertiary-black"
                  >{{ tag }}</span
                >
              }
            </div>
          </div>
        </a>
      </li>
    }
  </ul>

  <div class="my-12 flex flex-wrap justify-center gap-6">
    <h2
      class="mb-4 flex items-center justify-center px-4 py-2 text-5xl font-bold text-primary-black dark:text-secondary-white md:text-9xl">
      <span class="text-center">See more</span>
      <span class="ml-2 text-teja dark:text-bungee-shade">.</span>
    </h2>

    <ul class="grid w-full grid-cols-1 gap-4 md:grid-cols-2">
      <li class="flex w-full flex-col">
        <a
          href="/career"
          class="rounded-lg transition focus:ring-2 focus:ring-bungee-shade">
          <div
            class="flex w-full items-center justify-center gap-2 rounded-lg border border-secondary-white bg-primary-white py-3 font-semibold text-primary-black shadow-md transition-all duration-300 ease-in-out hover:bg-secondary-white hover:shadow-lg dark:border-none dark:bg-secondary-black dark:text-white dark:hover:bg-tertiary-black">
            @if (darkMode$()) {
              <img
                src="lucide/bungee-shade/briefcase-lucide.svg"
                alt="Career Icon"
                class="ml-1 h-5 w-5 transition-transform duration-200" />
            } @else {
              <img
                src="lucide/teja/briefcase-lucide.svg"
                alt="Career Icon"
                class="ml-1 h-5 w-5 transition-transform duration-200" />
            }
            Career
          </div>
        </a>
      </li>

      <li class="flex w-full flex-col">
        <a
          href="/about-me"
          class="rounded-lg transition focus:ring-2 focus:ring-bungee-shade">
          <div
            class="flex w-full items-center justify-center gap-2 rounded-lg border border-secondary-white bg-primary-white py-3 font-semibold text-primary-black shadow-md transition-all duration-300 ease-in-out hover:bg-secondary-white hover:shadow-lg dark:border-none dark:bg-secondary-black dark:text-white dark:hover:bg-tertiary-black">
            @if (darkMode$()) {
              <img
                src="lucide/bungee-shade/map-pin.svg"
                alt="About me Icon"
                class="ml-1 h-5 w-5 transition-transform duration-200" />
            } @else {
              <img
                src="lucide/teja/map-pin.svg"
                alt="About me Icon"
                class="ml-1 h-5 w-5 transition-transform duration-200" />
            }
            About me
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
