<div role="contentinfo" (mousemove)="onMouseMove($event)" (focus)="handleFocus()" (blur)="handleBlur()"
  (mouseenter)="handleMouseEnter()" (mouseleave)="handleMouseLeave()"
  class="h-50 md:h-48 relative flex flex-col rounded-xl border-[1px] border-neutral-300 shadow-sm dark:border-neutral-800">
  <div aria-hidden="true"
    class="pointer-events-none absolute left-0 top-0 z-10 h-full w-full cursor-default rounded-[0.310rem] border transition-opacity duration-500 placeholder:select-none"
    [ngStyle]="{
          opacity: opacity,
          '-webkit-mask-image': 'radial-gradient(30% 30px at ' + position.x + 'px ' + position.y + 'px, black 45%, transparent)',
          backgroundColor: 'transparent'
        }">
  </div>
  <div class="pointer-events-none absolute -inset-px rounded-xl opacity-0 transition duration-300"
    [ngStyle]="{ opacity: opacity, background: 'radial-gradient(600px circle at ' + position.x + 'px ' + position.y + 'px, rgba(97, 97, 97, 0.1), transparent 60%)'}">
  </div>

  <ng-content></ng-content>
</div>