<div class="floating-bar-wrapper">
  <div class="center-dynamic-bar">
    <div class="dynamic-bar">
      <a href="#navbar" class="md w-8 h-8"><img src="Logo-Llatzer.webp" loading="lazy" alt="Llatzer Logo"
          class="rounded-md w-8 h-8"></a>

      <a href="#knowmore" class="dynamic-item group">
        <div class="icon-solid _24px w-embed">
          <img src="lucide/library-lucide.svg" alt="Know More Icon">
        </div>
        <div class="dynamic-text-wrap work font-bold w-0 group-hover:w-16 transition-[width] duration-300 ease-in-out">
          <div class="text-base bold ml-2 no-wrap">Career</div>
        </div>
      </a>

      <a href="#testimonials" class="dynamic-item group">
        <div class="icon-solid _24px w-embed">
          <img src="lucide/sparkle-lucide.svg" alt="Recommendation Letters Icon">
        </div>
        <div
          class="dynamic-text-wrap process font-bold w-0 group-hover:w-28 transition-[width] duration-300 ease-in-out">
          <div class="text-base bold ml-2 no-wrap">Testimonials</div>
        </div>
      </a>

      <a href="#blog" class="dynamic-item group">
        <div class="icon-solid _24px w-embed">
          <img src="lucide/notepad-text-lucide.svg" alt="Blog Icon">
        </div>
        <div
          class="dynamic-text-wrap values font-bold w-0 group-hover:w-12 transition-[width] duration-300 ease-in-out">
          <div class="text-base bold ml-2 no-wrap">Blog</div>
        </div>
      </a>

      <div>
        <a href="#letstalk" class="ml-2 rounded-lg py-2 px-3 font-medium flex bg-bungee-shade text-secondary-black">
          <div class="text-base">Let's Talk</div>
        </a>
      </div>
    </div>
  </div>
</div>