<section id="blog" class="mt-4 bg-bungee-shade p-6 md:p-12 rounded-xl">
  <h2 class="text-4xl font-bold text-[#222] flex items-center justify-center mb-4 px-4 py-2">
    <img src="lucide/notepad-text-lucide.svg" alt="Blog Icon" class="w-8 h-8 mr-2">
    <span class="text-center">Blog</span>
    <span class="text-white ml-2">.</span>
  </h2>

  <div class="flex flex-wrap gap-6 justify-center">
    <ul class="gap-4 grid grid-cols-1 md:grid-cols-2">
      @for (blog of blogs; track $index) {
      <li class="flex w-full flex-col">
        <a href="{{blog.link}}" target="_blank">
          <div
            class="flex py-4 px-4 flex-col gap-2 border border-black rounded-md hover:shadow transition-shadow ease-in-out duration-300">
            <span class="text-zinc-800 text-lg"><strong>{{blog.name}}</strong></span>
            <span>{{blog.resume}}</span>
            <div class="flex items-center w-full gap-2 flex-wrap">
              @for (tag of blog.tags; track $index) {
              <span class="text-sm px-2 py-1 border rounded-md bg-slate-200">{{tag}}</span>
              }
            </div>
          </div>
        </a>
      </li>
      }
    </ul>

    <button class="flex items-center justify-center w-full py-2 font-semibold text-white bg-[#222] rounded-lg
             transition-colors duration-300 ease-in-out hover:bg-opacity-65 group">
      See more
      <img src="lucide/arrow-right-lucide.svg" alt="Arrow Right Icon"
        class="h-5 w-5 ml-1 transition-transform duration-200 transform group-hover:translate-x-1 group-hover:ml-1.5">
    </button>

  </div>
</section>